@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.UserName">User Name:</label>
                <div class="col-md-9">
                    <input asp-for="Input.UserName" class="form-control" maxlength="256" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.Email">Email:</label>
                <div class="col-md-9">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.FirstName">First Name:</label>
                <div class="col-md-9">
                    <input asp-for="Input.FirstName" class="form-control" maxlength="100" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.LastName">Last Name:</label>
                <div class="col-md-9">
                    <input asp-for="Input.LastName" class="form-control" maxlength="100" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.UserNicName">Nic Name:</label>
                <div class="col-md-9">
                    <input asp-for="Input.UserNicName" class="form-control" maxlength="16" />
                    <span asp-validation-for="Input.UserNicName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.ServerShortName">Server Short Name:</label>
                <div class="col-md-9">
                    <input asp-for="Input.ServerShortName" class="form-control" maxlength="12" />
                    <span asp-validation-for="Input.ServerShortName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.Password">Password:</label>
                <div class="col-md-9">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3 nsg-label" asp-for="Input.ConfirmPassword">Confirm Password:</label>
                <div class="col-md-9">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
